h1{
Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
color: rgb(192, 77, 41);

}
h2{
Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
color: rgb(192, 77, 41);
}